<main>
    <h2 class="text-center"><span class="iconify-inline" data-icon="openmoji:ticket" style="margin-left:.5em;margin-right:0"></span> Recent Bets</h2>
    {% for bet in site.data.bets.bets %}
    <div class="row">
        <div class="col is-center" style="word-break: break-word;">
            <span class="button outline secondary" style="width:50%">
                {% for team in bet.teams %}
                <image src="assets/images/{{ team }}.png" style="width:20px;height:20px;" />
                {% endfor %}
                {{ bet.description }}
                <br/>
                <span style="font-size: 0.5em">Published {{ bet.published }}</span>
            </span>
        </div>
    </div>
    {% endfor %}
</main>
